<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../stilovi/style.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="stilovi/style.css">
  </head>
  <body>
    
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    
  <a class="navbar-brand" href="#">Kucne zurke</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
         <li class="nav-item">
          <a class="nav-link" href="/dashboard">Pocetna</a>
        </li>
  </ul>
  <form class="form-inline my-2 my-lg-0">
    <a href="/users/logout" class="btn btn-secondary">Odjavi se</a>    
  </form>
  </div>
</nav>
  <div id="row" class="topdiv">
  <% zurka.forEach(function(zurka){ %>
    <form action="/users/update" method="POST">
    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
         <h5 class="mb-1"><%=zurka.organizator%></h5> 
        </div>
        <p class="mb-1"><img src="http://localhost:3000/<%= zurka.slikaZurke%>"/> </br>Datum: <%=zurka.datum%></br> Adresa: <%=zurka.adresa%></br> Vreme: <%=zurka.vreme%> </br> Muzika: <%=zurka.muzika%> </br> Broj ljudi: <%=zurka.brojljudi%></p>
        <input class="nevidljivo" name="organizator" value="<%=zurka.organizator%>"></input>
        <input class="nevidljivo" name="name" value="<%=name%>"></input>
        <div><button type="submit" style="float: right" class="btn btnnovi btn-primary">Odazovi se</button></form>
        <form action="/zurke/delete" method="POST">
          <input class="nevidljivo" name="id" value="<%=zurka._id%>"></input>
          <%- include('./partials/admin') %>
        </form>
        <form action="/users/profilkorisnika" method="POST">
          <input class="nevidljivo" name="organizator" value="<%=zurka.organizator%>"></input>
        <!-- <h5 class="mb-1"> Poseti profil ovog organizatora:</h5> 
      <button type="submit" style="float: left" class="btn btnnovi btn-primary"><%=zurka.organizator%></button> -->
      <%- include('./partials/profilkorisnika') %>
    </form>
      </div>
      </a>
     
    </div>
    </form>
    <% }); %> 
  </div>
  </body>
</html>
